body {
    background-color: #ececec;
}

#sidebar {
    width: 250px;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #009970;
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.logo-box {
    margin-left: 50px;
    padding: 10px 0px 50px 0px;
    white-space: nowrap;
}

.link-box a {
    padding: 8px 8px 8px 50px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.link-box a:hover {
    color: #90F3B2;
    -webkit-text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
  
#wrapper {
    margin-left: 250px;
    transition: margin-left .5s;
    width: auto;
}

.container-fluid {
    padding: 0px;
}

.header-box {
    display: flex;
    background-color: #009970;
    margin: 15px 0px;
    justify-content: space-between;
    height: 60px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.header-box-c {
    display: flex;
    align-items: center;
}

.header-box-c span {
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-left: solid white;
    padding-left: 8px;
    -webkit-text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

#menu-btn {
    margin: 10px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 5px;
    color: #009970;
    background-color: white;
    font-size: 25px;
    transition: 0.3s;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 0px;
}

#menu-btn:hover {
    color: white;
    background-color: #90F3B2;
    transition: 0.3s;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

#add-order-btn-s {
    display: none;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

#add-order-btn-l {
    margin: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #009970;
    background-color: white;
    font-size: 20px;
    padding: 0px 10px;
    transition: 0.3s;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

#add-order-btn-l:hover {
    color: white;
    background-color: #90F3B2;
    transition: 0.3s;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.user-box {
    position: absolute;
    bottom: 50px;
    justify-self: center;
    width: 150px;
    height: 40px;
    left: 50px;
}

#sign-out-btn {
    height: 100%;
    width: 100%;
    border: none;
    color: #009970;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

#sign-out-btn:hover {
    color: white;
    background-color: #90F3B2;
    transition: 0.3s;
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 992px) {
    #sidebar {
        width: 0px;
    }
    
    #wrapper {
        width: 100%;
        margin-left: 0px;
    }
}

@media screen and (max-width: 768px) {

    #add-order-btn-l {
        display: none;
    }

    #add-order-btn-s {
        display: block;
    }
    
    #add-order-btn-s {
        margin: 10px;
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 5px;
        color: #009970;
        background-color: white;
        font-size: 25px;
        transition: 0.3s;
        padding: 0px;
    }
    
    #add-order-btn-s:hover {
        color: white;
        background-color: #90F3B2;
        transition: 0.3s;
    }
}

@media screen and (max-width: 425px) {

    .header-box-c span {
        font-size: 20px;
        height: 40px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 321px) {

    .header-box-c span {
        font-size: 15px;
    }
}